<!DOCTYPE html>
<html>

<head>
  <title>Bootstrap Dev Server</title>
  <script src="/assets/app.js"></script>
</head>

<body>
  <div id="app">
    {{> title}}
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.</p>
    </div>
  </body>

  </html>
