<!DOCTYPE html>
<html>

<head>
  <title>index A</title>
</head>

<body>
  <div id="app">
    {{> title}}
    <p class="lead">AAAA<br>This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.</p>
    </div>
  </body>

  </html>
